<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <section name="dMISConfigurationSection" type="Oleg_ivo.WAGO.Configuration.DMISConfigurationSection, Oleg_ivo.WAGO" />
  </configSections>

  <dMISConfigurationSection>
    <dMISConfigurations>
      <dMISConfig name="Home" isEmulationMode="true">
        <loadOptions>
          <loadOptionsConfigurationElement fieldBusType="Ethernet">
            <fieldNodesLevel loadSavedConfiguration="true" computeCurrentConfiguration="false" />
            <physicalChannelsLevel loadSavedConfiguration="true" computeCurrentConfiguration="false" />
            <logicalChannelsLevel loadSavedConfiguration="true" computeCurrentConfiguration="false" />
          </loadOptionsConfigurationElement>
        </loadOptions>
      </dMISConfig>
      
      <dMISConfig name="IIST" isEmulationMode="true">
        <loadOptions>
          <loadOptionsConfigurationElement fieldBusType="Ethernet">
            <fieldNodesLevel loadSavedConfiguration="false" computeCurrentConfiguration="true" />
            <physicalChannelsLevel loadSavedConfiguration="false" computeCurrentConfiguration="true" />
            <logicalChannelsLevel loadSavedConfiguration="false" computeCurrentConfiguration="true" />
          </loadOptionsConfigurationElement>
        </loadOptions>
      </dMISConfig>
    </dMISConfigurations>
  </dMISConfigurationSection>

  <connectionStrings>
    <!--
    <add name="Default" connectionString="Data Source=oleg-a\SQLEXPRESS2005;Initial Catalog=Plc;Integrated Security=True" />
    <add name="Default" connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=Plc27;Integrated Security=True" />
-->
    <add name="Default" connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=plc_test;Integrated Security=True" />
    <add name="Oleg_ivo.WAGO.Properties.Settings.PlcConnectionString" connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=Plc;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Oleg_ivo.WAGO.Properties.Settings.PlcTPConnectionString" connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=PlcTP;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>
