<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="HighLevelMessageExchangeSystem">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/Oleg_ivo.MES/High/high"
          binding="netTcpBinding" bindingConfiguration="HighLevelMessageExchangeSystem"
          contract="ServiceReferenceHomeTcp.IHighLevelMessageExchangeSystem"
          name="HighLevelMessageExchangeSystem">
        <identity>
          <userPrincipalName value="oleg-a\oleg" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Debug"  >
          <callbackDebug includeExceptionDetailInFaults="true"  />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
