<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--home-->
    <!--<add name="Default" connectionString="Data Source=AM2\SQLEXPRESS;Initial Catalog=Plc;Integrated Security=True" />
    <add name="Default" connectionString="Data Source=localhost\SQLEXPRESS2005;Initial Catalog=Plc27;Integrated Security=True" />
-->
    <add name="Default" connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=plc_test;Integrated Security=True" />
    <!--ИИСТ-->
    <!--<add name="Default" connectionString="Data Source=localhost\SQLEXPRESS2005;Initial Catalog=PlcTP;Integrated Security=True" />-->
    <!--
    <add name="Default" connectionString="Data Source=IVS-8;Initial Catalog=Plc;Integrated Security=True" />
    <add name="Default" connectionString="Provider=SQLOLEDB;Data Source=AM2\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Plc" />
    <add name="Default" connectionString="Provider=SQLOLEDB;Data Source=IVS-8;Integrated Security=SSPI;Initial Catalog=Plc" />
    <add name="Default" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=S:\Oleg_ivo.WAGO\Oleg_ivo.WAGO\test.mdb;Persist Security Info=True" />
-->
  </connectionStrings>


  <system.serviceModel>

    <!--
    <services>
      <service behaviorConfiguration="myServiceBehavior" name="Oleg_ivo.MES.MessageExchangeSystem">
        <endpoint address="" binding="wsDualHttpBinding" contract="DMS.Common.MessageExchangeSystem.IMessageExchangeSystem" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/Oleg_ivo.MES" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
-->
    <services>
      <!-- 
      ================================================================================================
      HighLevelService: 
      ================================================================================================
      -->

      <!-- netTcpBinding -->
      <service behaviorConfiguration="tcpBehavior" name="Oleg_ivo.MES.High.HighLevelMessageExchangeSystem">
        <endpoint name="HighLevelMessageExchangeSystem" address="high" binding="netTcpBinding" contract="DMS.Common.MessageExchangeSystem.HighLevel.IHighLevelMessageExchangeSystem" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/Oleg_ivo.MES/High/" />
          </baseAddresses>
        </host>
      </service>

      <!-- netNamedPipeBinding -->
      <!--
      <service behaviorConfiguration="LocalNetPypeServiceBehavior" name="Oleg_ivo.MES.High.HighLevelMessageExchangeSystem">
        <endpoint name="HighLevelMessageExchangeSystem"
                  address="high" 
                  binding="netNamedPipeBinding" 
                  contract="DMS.Common.MessageExchangeSystem.HighLevel.IHighLevelMessageExchangeSystem" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Oleg_ivo.MES/High/" />
          </baseAddresses>
        </host>
      </service>
      -->

      <!-- wsHttpBinding -->
      <!--
      <service behaviorConfiguration="WSHttpServiceBehavior" name="Oleg_ivo.MES.High.HighLevelMessageExchangeSystem">
        <endpoint name="HighLevelMessageExchangeSystem"
                  address="high"
                  binding="wsDualHttpBinding"
                  contract="DMS.Common.MessageExchangeSystem.HighLevel.IHighLevelMessageExchangeSystem" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/Oleg_ivo.MES/High/" />
          </baseAddresses>
        </host>
      </service>
      -->

      <!-- 
      ================================================================================================
      LowLevelService: 
      ================================================================================================
      -->

      <!-- netTcpBinding -->
      <service behaviorConfiguration="tcpBehavior" name="Oleg_ivo.MES.Low.LowLevelMessageExchangeSystem">
        <endpoint name="LowLevelMessageExchangeSystem" address="low" binding="netTcpBinding" contract="DMS.Common.MessageExchangeSystem.LowLevel.ILowLevelMessageExchangeSystem" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/Oleg_ivo.MES/Low/" />
          </baseAddresses>
        </host>
      </service>

      <!-- netNamedPipeBinding -->
      <!--
      <service behaviorConfiguration="LocalNetPypeServiceBehavior" name="Oleg_ivo.MES.Low.LowLevelMessageExchangeSystem">
        <endpoint name="LowLevelMessageExchangeSystem"
                  address="low"
                  binding="netNamedPipeBinding"
                  contract="DMS.Common.MessageExchangeSystem.LowLevel.ILowLevelMessageExchangeSystem" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Oleg_ivo.MES/Low/" />
          </baseAddresses>
        </host>
      </service>
      -->
    </services>

    <!--
    <services>
      <service name="Oleg_ivo.MES" behaviorConfiguration="myServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Oleg_ivo.MES/" />
          </baseAddresses>
        </host>

        <endpoint name="LowLevelMessageExchangeSystem"
                  address="low"
                  binding="netNamedPipeBinding"
                  contract="DMS.Common.MessageExchangeSystem.LowLevel.ILowLevelMessageExchangeSystem" />
        <endpoint name="HighLevelMessageExchangeSystem"
                  address="high"
                  binding="netNamedPipeBinding"
                  contract="DMS.Common.MessageExchangeSystem.HighLevel.IHighLevelMessageExchangeSystem" />
        <endpoint address="mex"
                  binding="mexNamedPipeBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
-->

    <bindings>
      <netTcpBinding>
        <binding name="tcpbinding" sendTimeout="00:00:10" receiveTimeout="infinite" closeTimeout="00:01:00">
          <reliableSession enabled="true" inactivityTimeout="00:05:00" ordered="true" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WSHttpServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="LocalNetPypeServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="tcpBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
