<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TP.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="HighLevelMessageExchangeSystem">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/Oleg_ivo.MES/High/high"
          binding="netTcpBinding" bindingConfiguration="HighLevelMessageExchangeSystem"
          contract="ServiceReferenceHomeTcp.IHighLevelMessageExchangeSystem"
          name="HighLevelMessageExchangeSystem">
        <identity>
          <userPrincipalName value="oleg-a\oleg" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Debug"  >
          <callbackDebug includeExceptionDetailInFaults="true"  />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.1.0" newVersion="1.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TP.WPF.Properties.Settings>
      <setting name="DefaultRegName" serializeAs="String">
        <value>HighLevelClient1</value>
      </setting>
      <setting name="MainFormTitle" serializeAs="String">
        <value>Система мониторинга1</value>
      </setting>
      <setting name="ChannelMappingsFile" serializeAs="String">
        <value>ChannelMappings.xml</value>
      </setting>
    </TP.WPF.Properties.Settings>
  </applicationSettings>
</configuration>
