<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WAGOConfigurationImporter.Properties.Settings.Plc27ConnectionString"
            connectionString="Data Source=HOME\SQL2008;Initial Catalog=Plc27;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>