<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Oleg_ivo.Plc.Properties.Settings.Plc27ConnectionString"
            connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=Plc27;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Oleg_ivo.Plc.Properties.Settings.plc_testConnectionString"
            connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=plc_test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>