<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="DistributedSystemSettings">
      <section
        name="LoadOptions"
        type="Oleg_ivo.WAGO.Configuration.LoadOptionsSection, Oleg_ivo.WAGO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <connectionStrings>
<!--
    <add name="Default" connectionString="Data Source=oleg-a\SQLEXPRESS2005;Initial Catalog=Plc;Integrated Security=True" />
-->
    <add name="Default" connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=Plc27;Integrated Security=True" />
    <add name="Oleg_ivo.WAGO.Properties.Settings.PlcConnectionString"
      connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=Plc;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Oleg_ivo.WAGO.Properties.Settings.PlcTPConnectionString"
      connectionString="Data Source=OLEG-A\SQLEXPRESS2005;Initial Catalog=PlcTP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <DistributedSystemSettings>
    <LoadOptions Name="IIST">
      <myChildSection
          myChildAttrib1="Zippy"
          myChildAttrib2="Michael Zawondy"
          FieldBusType="Ethernet"
          />

      <LoadOptions
          />
    </LoadOptions>
  </DistributedSystemSettings>

</configuration>