<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <extensions>
    <add assembly="UICommon.WPF" />
  </extensions>
  <targets>
    <target name="console" 
            xsi:type="Console" 
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}" />
    <target name="file" 
            xsi:type="File" 
            fileName="${basedir}/logs/TP.WPF_${date:format=yyyy-MM-dd}.log" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message:withException=true}" />
    <target xsi:type="SplitGroup" name="default">
      <target-ref name="console"/>
      <target-ref name="file"/>
    </target>
    <target
        xsi:type="ObservableTarget"
        name="uiLog"
        layout="${level:uppercase=true:padding=-5}|${time}|TH:${threadid:padding=2}|${logger:shortName=true} — ${message:withException=true}" />
  </targets>

  <rules>
    <logger name="Oleg_ivo.Base.Autofac.*" writeTo="uiLog" minlevel="Warn" final="true" />
    <logger name="Oleg_ivo.Base.Autofac.*" writeTo="default" minlevel="Warn" final="true" />
    <logger name="*" writeTo="uiLog" minlevel="Trace" />
    <logger name="*" writeTo="default" minlevel="Debug" />
  </rules>
</nlog>
