<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="HighLevelMessageExchangeSystem">
                    <security>
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/Oleg_ivo.MES/High/high" binding="netTcpBinding" bindingConfiguration="HighLevelMessageExchangeSystem" contract="ServiceReferenceHomeTcp.IHighLevelMessageExchangeSystem" name="HighLevelMessageExchangeSystem">
                <identity>
                    <userPrincipalName value="oleg-a\oleg" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
          <endpointBehaviors>
            <behavior name="Debug">
              <callbackDebug includeExceptionDetailInFaults="true" />
            </behavior>
          </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
