<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="DistributedSystemSettings">
      <section
        name="LoadOptions"
        type="Oleg_ivo.WAGO.Configuration.LoadOptionsSection, Oleg_ivo.WAGO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!--home-->
<!--
    <add name="Default" connectionString="Data Source=AM2\SQLEXPRESS;Initial Catalog=Plc;Integrated Security=True" />
-->
    <!--ИИСТ-->
    <add name="Default" connectionString="Data Source=IVS-8;Initial Catalog=Plc;Integrated Security=True" />
<!--
    <add name="Default" connectionString="Provider=SQLOLEDB;Data Source=AM2\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Plc" />
    <add name="Default" connectionString="Provider=SQLOLEDB;Data Source=IVS-8;Integrated Security=SSPI;Initial Catalog=Plc" />
    <add name="Default" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=S:\Oleg_ivo.WAGO\Oleg_ivo.WAGO\test.mdb;Persist Security Info=True" />
-->
  </connectionStrings>

  <DistributedSystemSettings>
    <LoadOptions Name="IIST">
      <myChildSection
          myChildAttrib1="Zippy"
          myChildAttrib2="Michael Zawondy"
          FieldBusType="Ethernet"
          />

      <LoadOptions
          />
    </LoadOptions>
  </DistributedSystemSettings>

</configuration>